@import "null-style.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.topnav {
  background-color: #7fc24c;
  overflow: hidden;
}

/* Стиль для ссылок внутри навигационного меню */
.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 1em;
  margin: 0.3em;
  text-decoration: none;
  font-size: 1.7em;
}

/* Меняем цвет ссылок при наведении */
.topnav a:hover {
  background-color: #fff;
  color: rgb(74, 180, 234);
}

/* Добавление активного класса, чтобы главная страница подсвечивалась */
.active {
  background-color: #4caf50;
  color: white;
}

/* Прячим ссылку, которая должна открывать и закрывать topnav на маленьких экранах */
.topnav .icon {
  display: none;
}

/* Когда экран меньше 600 пикселей прячим все ссылки, кроме первой (дом) Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* Класс responsive добавляется в topnav с помощью JS, когда юзер нажимает на значок, позволяет topnav хорошо выглядеть
на небольших экранах (отображать ссылки вертикально, а не горизонтально). */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.number{
  width: 15em;
  background-color: #4caf50;
  border-radius: 20px;
  font-size: 18px;
  padding: 1em;
  margin-left: 5em;
  line-height: 150%;
}

.number a{
  color: white;
}

.logout{
  display: inline;
  width: 4em;
  float: right;
  margin-right: 5em;
}

.logout, .logout input{
  font-size: 18px;
  color: #fff;
  background-color: #4caf50;
  border-radius: 20px;
  padding: 0.3em;
}

.logout input:hover{
  text-decoration: underline;
}


main {
  background-size: cover;
  background: linear-gradient(#ffffff, #7fc24c) fixed center;
}

.products {
  display: flex;
  justify-content: space-around;
}
.product {
  padding: 2em;
  background-color: #fff;
  border-radius: 20px;
  margin: 3em;
}
.photo {
  max-width: 100%;
  height: auto;
}

.newproducts {
  background-color: #4caf50;
  border-radius: 20px;
  margin-top: 3em;
  max-width: 25em;
}

.newproducts_caption {
  font-size: 24px;
  color: white;
  font-style: italic;
  padding: 1.5em 1.5em;
}

.triangle {
  position: relative;
  right: 0;
  top: 0;
}

.product_name {
  text-align: center;
  font-size: 18px;
  color: black;
}

.product_price {
  font-size: 18px;
  font-weight: bold;
  padding: 2em;
  color: red;
}
.product_old_price {
  font-size: 14px;
  color: #666666;
  text-decoration: line-through;
}

footer {
  padding: 4em;
  background-color: #545454;
  color: white;
  font-size: 20px;
  line-height: 1em;
}

footer a {
  text-decoration: none;
  color: white;
}

a.buttonBin {
  position: relative;
  display: inline-block;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #f64c2b;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #800;
  background: linear-gradient(#fb9575, #f45a38 48%, #ea1502 52%, #f02f17);
}
a.buttonBin:active {
  top: 0.1em;
  left: 0.1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
}

a.buttonBin:hover {
  background: linear-gradient(#d97e63, #d54c2f 48%, #cc1102 52%, #d02814);
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #720000;
  border: 2px solid #c23921;

}
