@import "null-style.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* Add a black background color to the top navigation */
body {
  font-family: "Roboto", sans-serif;
}
.topnav {
  background-color: #7fc24c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 1em;
  margin: 0.3em;
  text-decoration: none;
  font-size: 1.7em;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fff;
  color: rgb(74, 180, 234);
}

/* Add an active class to highlight the current page */
.active {
  background-color: #4caf50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

main {
  /* height: 100vh; */
  /*background-image: url("../images/headerback.jpg");*/
  background-size: cover;
  background: linear-gradient(#ffffff, #7fc24c) fixed center;
}

.products_individ {
  display: flex;
}

.product_photo {
  background-color: #ffffff;
  margin: 2em 13.2em;
  padding: 1em;
  border: 0.3em solid #54cc49;
}

.product_photo .photo {
  width: 30em;
}

.product_data {
  background-color: #ffffff;
  margin: 2em 5em 2em 0;
  margin-top: 2em;
  margin-right: 5em;
  padding: 5em;
  border: 0.3em solid #54cc49;
}

.product_name {
  font-size: 28px;
}

.product_price {
  text-align: right;
  padding: 1em 0;
  font-size: 20px;
  color: red;
}

.product_old-price {
  color: #666666;
  text-decoration: line-through;
  font-style: italic;
}

#product_describe_caption {
  font-size: 24px;
  text-decoration: underline;
}

#description {
  margin: 0.5em 0;
  font-size: 20px;
  text-align: justify;
}

.buttonBin {
  position: relative;
  margin-top: 1em;
  display: inline-block;
  width: 10em;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #777;
  color: #fff;
  outline: none;
  border: 2px solid #f64c2b;
  border-radius: 5px;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #800;
  background: linear-gradient(#fb9575, #f45a38 48%, #ea1502 52%, #f02f17);
}

.buttonBin {
  top: 0.1em;
  left: 0.1em;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0.05) inset;
}

footer {
  padding: 4em;
  background-color: #545454;
  color: white;
  font-size: 20px;
  line-height: 1em;
}

footer a {
  text-decoration: none;
  color: white;
}
