<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      type="image/png"
      sizes="16x16"
      rel="icon"
      href="images/icons8-растение-16.png"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Экологик - Эко-товары</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top">
      <a class="navbar-brand" href="#">ЭКОЛОГИК</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
          <li class="nav-item">
            <a class="nav-link" href="#">КАТАЛОГ ТОВАРОВ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ЭКО-БИО ПРОДУКТЫ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">НАЧИНАЮЩИМ ВЕГЕТАРИАНЦАМ И ВЕГАНАМ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ФЕРМЕРСКАЯ ПРОДУКЦИЯ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ДЕТСКИЕ БИО ТОВАРЫ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">БИО КОСМЕТИКА</a>
          </li>
        </ul>
      </div>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Поиск товаров"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </nav>
    <header class="header"></header>
  </body>
  <script type="text/javascript" src="js/main.js"></script>
</html>
