<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>ЭкоМаркет-Регистрация</title>
    <link type="image/png" sizes="16x16" rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1>Регистрация</h1>
      </div>
      <div class="wrong-log" th:if="${param.error}">
        Неправильный логин или пароль
      </div>
      <form th:action="@{/registration}" method="post">
        <div>
          <label> Логин : <input type="text" name="username" /> </label>
        </div>
        <div>
          <label> Пароль: <input type="password" name="password" /> </label>
        </div>
        <div>
          <input id="submit" type="submit" value="Зарегистрироваться" />
        </div>
      </form>
      <div class="first-time">
        <a th:href="@{/login}">Уже есть аккаунт? Войдите!</a>
      </div>
    </div>
  </body>
</html>
